html,
body {
    margin: 0;
    font-size: 16px;
    font-family: 'Quicksand-regular', sans-serif;
    height: auto;
}

h1,
h2,
h3 {
    font-family: 'Quicksand-medium', sans-serif;
}
li a{
    text-decoration: none;
}

.appel-urgence {
     /* position: fixed; */
    width: 100%;
    height: 50px;
    background-color: red;
    font-size: 18pt;
    line-height: 0.1;
}

header {
    background-color: #ccc;
    width: 100%;
    height: 600px;
    background-image: url(../img/second-1.jpg);
}



.nav-Header {
    /* margin-top: 50px; */
    background-color: #107F6A;
    color: #fff;
    width: 100%;
   
}

.nav-Header a {
    text-decoration: none;
}

.nav-Header a:hover {
    border-top: 2px solid #6DFFE4;
}

.nav-item {
    margin-right: 5px;
}
#mySidebar{
    z-index: 3;
     width: 300px;
     /* font-weight: bold; */
      display: none;
    } 


section {   
    width: 100%;
    height: auto;
 }
#accueil {
    display: block;
    height: auto;
    /* margin-top:50px; */
    width: 100%;
    
}
#qui-nousSommes {
    height: auto;
    width: 100%; 
     
}

.rounded-circle{
    width:100px;
    height:100px;   
    padding:10px;
    margin:0 auto;
    border:2px solid #107F6A;
   }
 .fab{
     line-height: 2;
     padding-left:5px;
     font-size:15pt;
     color:#fff;

 }
 .fas{
    line-height: 2;
     padding-left:15px;
     font-size:32pt;
     color:#1ACCAB;
 }
 .far{
    line-height: 2;
    padding-left:15px;
    font-size:32pt;
    color:#1ACCAB;  
 }
 .rectangle{
     border:1px solid #107F6A;
     padding:20px;
     width:100%;
     height:auto;
     color:#000;
 }
 .rectangle> div> p{
     float:right;    
     line-height: 1;
 }
 .tableau-Link p{
 justify-content:flex-end;
 }

 .divPicture{
   /* margin-top:150px;   */
   width:100%;
   height:auto;
   background-color: gray;
 }
 .divPicture img{
 width:100%;
 height:350px;
 }
 .rapport-sytheseRec{
  /* margin-top:150px; */
  border:1px solid #107F6A;
  padding:10px;
  width:100%;
  height:auto;
 }
 
 .nosAction-Pic{
    margin-top:150px;  
    width:100%;
    height:auto;
    background-color: gray;
 }
 .nosAction-Pic img{
    width:100%;
    height:350px;
    }
.secondText {
    border-radius: 3px;
    margin-top: 80px;
    height: auto;
    width: 100%;
    padding: 30px;
    overflow: hidden;
    float: right;
    font-size: 1.4em;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    transition: right, .5s;
    background-color: #201f1f88;
    color: #fff;
}
.youtubePlayer{
    margin-top:100px;
    margin-bottom: 20px;
    width:560px;
    height:315px;
    margin:0 auto;
}
iframe{
    width:560px;
    height:315px;
}



 #sections_btn_holder{
	float:left;
	width:144px;
	height:46px;
	padding-top:16px;
}
 #sections_panel{
  	height:0px;
	width:100%;
	top:10px;
	left:160px;
	border-radius:0px 0px 8px 8px;
	transition: height 0.3s linear 0s;
}
.logoutile li{
    list-style: none;
    text-align: center;
}
#firstTime{
    display:none;
}
#tableaux-anterieurs{
    height:0px;
	width:100%;
	top:10px;
	left:160px;
	border-radius:0px 0px 8px 8px;
	transition: height 0.3s linear 0s;
}
.hideTableaux{
    display:none;
}


footer {
    margin-top: 75px;
    width: 100%;
    height: 300px;
    color:#fff;
  background-color:  #107F6A;
}

/*#box {
    background-color:107F6A ;
    width: 100%;
    height: 100px;
}

#box2 {
    margin-top: 10px;
    background-color: #6DFFE4;
    width: 100%;
    height: 100px;
}

#box3 {
    margin-top: 10px;
    background-color: #1ACCAB;
    width: 100%;
    height: 100px;
}*/

    /*TABLEAU*/



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header{
     
        background: url(../img/baillonée.jpg) no-repeat center;
    }
    .youtubePlayer{
        width:100%;
    }
    iframe{
        width:100%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 